
    <div class="footer-left">


        <p class="footer-links">
            <a href="/">Home</a>
            ·
            <a href="/users/">Community</a>
            ·
            <a href="/stories">Stories</a>
            ·
            <a href="/about">About</a>

        </p>

        <p class="footer-company-name">\yärn\ &copy; 2017</p>



    </div>

    <div class="footer-right">
        <div class="footer-icons">

            <a href="https://www.facebook.com/Schpopwowza"><i class="icon-facebook-squared"></i></a>
            <a href="https://twitter.com/codingcapella"><i class="icon-twitter-squared"></i></a>
            <a href="https://www.linkedin.com/in/amandacapella/"><i class="icon-linkedin-squared"></i></a>
            <a href="https://github.com/CapellaBlue/Project2"><i class="icon-github-squared"></i></a>

        </div>


    </div>
