
<div class="logo-other">
    <a href="/"><h1 id="">\yärn\</h1>
</div >
<nav class="nav-other">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Community</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a href="/users/new">Start Your Story!</a></li>
    </ul>
</nav>
