<!DOCTYPE html>
<html>
    <head>
        <%include ../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../partials/header.ejs%>
        </header>
        <h2>What do you mean '\yärn\'?</h2>
        <main>
            <p>To yarn is slang for telling a story...but not just any story. One who spins their yarn, spins with enthusiasm ad nauseum. They tell the tale of their lives or lives of others with a bit of magic, creativity and zest. </p>
            <p>To capture that enthusiasm the story teller experiences is the main mission of \yärn\. Each new story teller is met with a gentle guide to aide in the creative process.  The plot outline used is formatted after the well-known formula observed in mythology and modern narratives by Joseph Campbell. It's  called "The Hero's Journey," and it begins with a normal every day You or Me thrown into an adventure that challenges not only their beliefs, but often the conception of the Self and ones role in a larger world.  You can find The Hero's Journey in epic tales like Star Wars, Lord of the Rings, and numerous other stories.</p>
            <p>So, start where you are. Let the story, nourished by your creativity, move you. \yärn\ on.
        </main>
        <div style="color: black">
            <p>peek-a-boo</p>
        </div>
        <footer class="footer-distributed">
            <%include ../partials/footer.ejs%>
        </footer>
    </body>
</html>
