<!DOCTYPE html>
<html>
    <head>
        <%include ../partials/head.ejs%>
    </head>
    <body>
        <header class="header-home">
            <div class="logo-home">
                <h1 id="yarn-home">\yärn\</h1>
                <h2 id="definition-home"><i>verb</i> : to tell a tale of adventure;<br/> <i>especially</i> :  a tall tale</h2>
            </div >
            <nav class="nav-home">
                <ul id="nav-home">
                    <li><a href="/users">Community</a></li>
                    <li><a href="/stories">Stories</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul id="user-nav-home">
                    <% if(currentUser === undefined){%>
                        <li>
                            <a href="/sessions/new">Log In</a>
                        </li>
                        <li>
                            <a href="/users/new">Register</a>
                        </li>
                        <%}%>

                    <% if(currentUser){ %>
                        <li>
                            <form action="/sessions?_method=DELETE" method="POST">
                                <input id="logout-input" type="submit" value="Logout">
                            </form>
                        </li>
                        <li><a href="/users/<%=currentUser._id%>">My account</a></li>
                        <% } %>
                </ul>
            </nav>
        </header>
        <footer class="footer-distributed">
            <%include ../partials/footer.ejs%>
        </footer>
    </body>
</html>
