<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <main>
			<h2>Story Attributes:</h2>
			<form action="/stories/<%=story._id%>?_method=PUT" method="post">
				<input type="text" name="title" value="<%=story.title%>"/><br/>
				<textarea name="body"><%=story.body%></textarea><br/>
				<input type="submit" value="Update Story"/>
			</form>
		</main>
    </body>

</html>
