<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <h2 id="story-show-headline">List of Stories</h2>
        <main id="story-index-main">
			<ul class="story-index-ul">
                <% for(var i = 0; i < stories.length; i++){ %>
					<li class="story-index-li">

						<a id="story-title" href="/stories/<%=stories[i]._id%>"><%=stories[i].title%></a><br/>
                        by: <a id="story-author" href="/users/<%=users._id%>"><%=stories[i].username%></a><br/>

					</li>
				<% } %>
			</ul>
		</main>
        <div style="color: black">
            <p>peek-a-boo</p>
        </div>
        <footer class="footer-distributed">
            <%include ../../partials/footer.ejs%>
        </footer>
    </body>
</html>
