<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <main>
			<h2>List of Stories</h2>
			<ul>
					<li>
                        <% for(var i = 0; i < stories.length; i++){ %>
						<a href="/stories/<%=stories[i]._id%>"><%=stories[i].title%></a><br/>
                        by: <%=stories[i].username%>

					</li>
				<% } %>
			</ul>
		</main>
    </body>
</html>
