<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <main>
			<form action="/stories" method="POST">
                <select name="userId">
                    <% for(var i = 0; i < users.length; i++) {%>
                    <option value="<%=users[i].id%>" ><%=users[i].username%></option>
                    <% } %>
                </select></br>
				<input type="text" name="title" placeholder="Title"/><br/>
                <input type="text" name="draft" placeholder="Draft Version"><br/>
                <select name="intro">
                    <% for(var i = 0; i < intro.length; i++) {%>
                    <option value="<%=intro[i]%>" ><%=intro[i]%></option>
                    <% } %>
                </select></br>
                <input type="text" name="hero" placeholder="Hero's Name"><br/>
                <input type="text" name="mentor" placeholder="Mentor's Name"><br/>
                <input type="text" name="ally" placeholder="Ally's Name"><br/>
                <input type="text" name="herald" placeholder="Herald's Name"><br/>
                <input type="text" name="trickster" placeholder="Trickster's Name"><br/>
                <input type="text" name="shapeshifter" placeholder="Shapeshifter's Name"><br/>
                <input type="text" name="guardian" placeholder="Guardians Name"><br/>
                <input type="text" name="shadow" placeholder="Shadow's Name"><br/>

                <textarea name="one" rows="8" cols="80" placeholder="Now that you have an introduction line, let's start your story with your main character doing something. Is she making a sandwich? Is he playing chess? Describe what your main character is doing in one to three sentences."></textarea>

                <textarea name="callToAction" rows="8" cols="80"></textarea><br/>
                <textarea name="superNaturalAide" rows="8" cols="80"></textarea><br/>
                <textarea name="firstThreshold" rows="8" cols="80"></textarea><br/>
                <input type="text" name="landOfAdventureName" placeholder="What is your Land of Adventure named?"><br/>
                <textarea name="landOfAdventure" rows="8" cols="80"></textarea><br/>
                <textarea name="roadOfTrials" rows="8" cols="80"></textarea><br/>
                <textarea name="nightSeaVoyage" rows="8" cols="80"></textarea><br/>
                <textarea name="finalTemptation" rows="8" cols="80"></textarea><br/>
                <textarea name="apotheosis" rows="8" cols="80"></textarea><br/>
                <textarea name="confrontingBigBad" rows="8" cols="80"></textarea><br/>
                <textarea name="ultimateBoon" rows="8" cols="80"></textarea><br/>
                <textarea name="returnThreshold" rows="8" cols="80"></textarea><br/>
                <textarea name="freedomeToLive" rows="8" cols="80"></textarea><br/>
                <textarea name="celebration" rows="8" cols="80"></textarea><br/>




				<textarea name="body" placeholder="Story"></textarea><br/>
				<input type="submit" value="Publish Story"/>
			</form>
		</main>
    </body>
</html>
