<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <main>
			<form action="/stories" method="post">
                <select name="userId">
                    <% for(var i = 0; i < users.length; i++) {%>
                    <option value="<%=users[i].id%>" ><%=users[i].username%></option>
                    <% } %>
                </select></br>
				<input type="text" name="title" placeholder="Title"/><br/>
				<textarea name="body" placeholder="Story"></textarea><br/>
				<input type="submit" value="Publish Story"/>
			</form>
		</main>
    </body>
</html>
