<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <main>
			<section>
                <%=story.title%>
			</section>
			<section>
			    <h3>Feedback section?</h3>
			</section>
			<section>
			    <a href="/stories/<%=story._id%>/edit">Edit</a>
			</section>
		</main>
    </body>
</html>
