<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <div class="logo-other">
                <a class="header-logo-link" href="/"><h1 id="yarn-other">\yärn\</h1>
            </div >
            <nav class="nav-other">
                <ul id="nav-other">
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Community</a></li>
                    <li><a href="/stories">Stories</a></li>
                    <li><a href="/users/new">Register</a></li>
                </ul>
            </nav>
        </header>
        <h2 id="sessions-new-headline">Log In</h2>
        <main id="sessions-new-main-div">
        <form class="signin-form" action="/sessions" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Log In">
        </form>
        <p><span style="color: red">*</span>For demonstration purposes, please feel free to use: Username: Guest || Password: Guest</p>
        <p>Not a member? <a href="../users/new">Join in the spinning!</a></p>
    </main>
    <div style="color: black">
        <p>peek-a-boo</p>
    </div>
    <footer class="footer-distributed">
        <%include ../../partials/footer.ejs%>
    </footer>
    </body>
</html>
