<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <main id="user-index-main">
			<h2>\yärn\ Spinners Non-a-Nonymous</h2>
			<ul class="user-show-index-ul">
				<% for(var i = 0; i < users.length; i++){ %>
					<li class="user-show-index-li">
						<a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
                        <img src="<%=users[i].img%>" alt="">
					</li>
				<% } %>
			</ul>
		</main>
    </body>
</html>
