<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <main>
			<h2>List of Users</h2>
			<ul>
				<% for(var i = 0; i < users.length; i++){ %>
					<li>
						<a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
					</li>
				<% } %>
			</ul>
		</main>
    </body>
</html>
