<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
            <%include ../../partials/header.ejs%>
        </header>
        <h2 id="user-index-headline">\yärn\ Spinners Non-a-Nonymous</h2>
        <main class="main-div" id="user-index-main">

			<ul class="user-index-ul">
				<% for(var i = 0; i < users.length; i++){ %>
					<li class="user-index-li">
						<a href="/users/<%=users[i]._id%>"><%=users[i].username%><br/>
                        <img src="<%=users[i].img%>" alt=""></a>
					</li>
				<% } %>
			</ul>
		</main>
        
    </body>

</html>
