<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
			<%include ../../partials/header.ejs%>
		</header>
        <h2>Register</h2>
        <main class="user-new-main-div">
            <form class="register-form" action="/users" method="POST">
                <input type="text" name="username" placeholder="Username"><br/>
                <input type="password" name="password" placeholder="Password"><br/>
                <input type="text" name="img" placeholder="Profile Avatar URL"><br/>
                <textarea name="description" rows="8" cols="80" placeholder="Tell us about yourself:"></textarea><br/>
                <input type="submit" value="Register" ><br/>
            </form>
        </main>
        <p id="sign-in">Already a member? <a href="/sessions/new">Log in</a>.</p>
        <footer class="footer-distributed">
            <%include ../../partials/footer.ejs%>
        </footer>
    </body>
</html>
