<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
			<%include ../../partials/header.ejs%>
		</header>
        <main class="user-new-main-div">
            <h1>Register</h1>
            <form class="" action="/users" method="POST">
                <input type="text" name="username" placeholder="username"><br/>
                <input type="text" name="img" placeholder="Image url"><br/>
                <textarea name="description" rows="8" cols="80" placeholder="Tell us about you:"></textarea><br/>
                <input type="password" name="password" placeholder="password"><br/>
                <input type="submit" value="Register" ><br/>
            </form>

            <p>Aready a member? <a href="/sessions/new.ejs">Log in</a>.</p>
        </main>
    </body>
</html>
