<!DOCTYPE html>
<html>
    <head>
        <%include ../../partials/head.ejs%>
    </head>
    <body>
        <header class="header-other">
			<%include ../../partials/header.ejs%>
		</header>
        <h1>Register</h1>
        <form class="" action="/users" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Register" >
        </form>
        
        <p>Aready a member? <a href="/sessions/new.ejs">Log in</a>.</p>
    </body>
</html>
