<!DOCTYPE html>
<html>
	<head>
		<%include ../../partials/head.ejs%>
	</head>
	<body>
		<header class="header-other">
			<%include ../../partials/header.ejs%>
		</header>
		<main>
            <h1>Show Page for <%=user.username%></h1>
            <section>
                <h2>Stories Written By This User:</h2>
                <ul>
                    <li>
                        <% for(var i = 0; i < user.stories.length; i++){%>
                            <a href="/stories/<%=user.stories[i]._id%>">
                                <%=user.stories[i].title%>
                            </a>
                        <% } %>

                    </li>
                </ul>
            </section>
            <% if(currentUser === undefined){ %>
            <section>
                <a href="/users/new">Sign In or Register to spin your new \yärn\</a><br/>
            </section>
            <% } else if(currentUser.username === user.username){ %>
                <section>
                    <a href="/stories/new">Spin a new \yärn\</a><br/>
    				<a href="/users/<%=user._id%>/edit">Edit Account</a>
    			</section>
            <% } %>
		</main>
	</body>
</html>
